.hero {

  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Фон */
  background-image: url("@/shared/assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);

  /* Обгортка */
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  /* Верхня частина */
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }

  /* Логотип */
  &__logo {
    width: 150px; 
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  /* BOOKSY */
  &__book {
    text-align: right;

    p {
      font-size: 20px;
      color: var(--bg-color);
      margin-top: 0;
      margin-bottom: 4px;
      font-family: "Lora", serif;
    }

    &-link {
      text-decoration: none;
      color: var(--bg-color);
      font-size: 24px;
      font-family: "Cinzel", serif;
      transition: 0.2s;
      display: flex;
      align-items: center;
      gap: 25px;

      &:hover {
        opacity: 0.6; /* Чорнобіла стилістика — без синього */
      }
    }

    &__arrow {
      width: 12px;
      height: auto;
      margin-left: 5px;
    }
  }
}

/* ============================
   АДАПТИВНІСТЬ
   ============================ */

@media screen and (max-width: 700px) {
  .hero__top {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .hero__book {
    text-align: center;

    p {
      font-size: 18px;
    }

    &-link {
      font-size: 20px;
    }
  }
}