.laser {
  padding: 80px 0 300px;
  background: var(--bg-color);
  color: var(--text-color);

  &__inner {
    text-align: center;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Cinzel", serif;
    font-size: 64px;
    letter-spacing: 0.1em;
    margin: 0 0 16px;
    font-weight: 400;
  }

  &__subtitle {
    font-family: "Lora", serif;
    font-size: 20px;
    margin: 0 0 16px;
    font-weight: 400;
  }

  &__location {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-top: 8px;

    img{
      width: 16px;
      height: 16px;
    }
  }

  &__location-icon {
    font-size: 14px;
  }

  &__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
    gap: 40px;
  }

  &__image {
    width: 320px;
    height: 420px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--left {
        transform: translateY(-100px); 
    }

    &--right {
        transform: translateY(100px); 
    }

  }

  &__text {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
  }

  &__cta {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 18px 80px;
    border-radius: 999px;
    border: 1px solid var(--color-white);
    background: #111111;
    color: var(--color-white);
    font-family: "Cinzel", serif;
    font-size: 20px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
    }
  }
}

/* Адаптив */

@media (max-width: 1024px) {
  .laser__content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .laser__text {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .laser {
    padding: 60px 0 80px;
  }

  .laser__title {
    font-size: 40px;
    letter-spacing: 0.12em;
  }

  .laser__image {
    width: 260px;
    height: 340px;
  }

  .laser__button {
    width: 100%;
    max-width: 320px;
    padding: 16px 40px;
    font-size: 16px;
  }
}