.about {
  position: relative;
  background: linear-gradient(
    to bottom,
    #080808 0%,      
    #080808 75%,     
    #d9d9d9 75%, 
    #d9d9d9 100%  
  );
  color: #080808;
  padding: 80px 0 20px;

  .about__top-arc {
  position: absolute;
  top: 0vw; 
  left: 0;
  width: 100%;
  height:50vw;
  background: #d9d9d9;
  z-index: 3;

  border-top-right-radius: 80% 100%;
  border-top-left-radius: 80% 100%;
}
    &__skin{
        z-index: 0;
        color: #d9d9d9;
    }

  &__inner {
    position: relative;
    z-index: 4;
  }

  &__title {
    font-family: "Cinzel", serif;
    font-size: 96px;
    line-height: 0.9;
    letter-spacing: 0.12em;
    margin: 0 0 60px;
    transform: translateY(-270px); 
    z-index: 1;
  }
   &__studio {
    position: absolute;
    top: 0;        
    transform: translate(15vw, -12vw);
    pointer-events: none;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 40px;
    align-items: center;
    z-index: 4;
  }

  &__text {
    font-family: "Lora", serif;
    font-size: 18px;
    line-height: 1.6;

    p + p {
      margin-top: 50px;
    }
  }
  &__text--left {
    transform: translateY(50px); 
  }
  &__name {
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: 400;
  }
  &__text-weight{
    font-weight: 600;
  }

  &__photo {
    width: 420px;
    height: 660px;
    margin: 0 auto;
    border-radius: 50% / 30%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    width: 360px;                     
    background: #080808;
    color: #ffffff;
    border: none;
    padding: 24px 24px;                
    margin-top: 50px;

    display: flex;
    justify-content: space-between; 
    text-align: left;   
    align-items: center;

    font-family: "Lora", serif;
    font-size: 28px;                 
    line-height: 1.2;
    font-weight: 400;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &__button:hover {
    opacity: 0.8;
  }

    &__button-arrow {
      width: 48px;                       
      height: auto;
      display: block;
      transform: translateY(-10px); 
    }
}

.title-layered {
  position: relative;
  display: inline-block; 
}

.layer {
  font-family: "Cinzel", serif;
  font-size: 200px;   
  letter-spacing: 0.12em;
  position: absolute;
  top: 0;
  left: 10px;
  white-space: nowrap;

}

.layer--shadow {
  color: #fff;
  transform: translate(2px, -4px);

}

/* Верхній текст */
.layer--main {
  color: #2E2D2D;
  -webkit-text-stroke: 1px #1a1a1a;
}

.about__studio .layer {
  font-size: 180px; 
}

.about__studio .layer--shadow {
  transform: translate(7px, 0px);
}

@media (max-width: 1100px) {
  .about__title {
    font-size: 64px;
  }
}

@media (max-width: 900px) {
  .about__content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about__photo {
    order: -1;
    width: 300px;
    height: 400px;
  }

  .about__button {
    margin-left: auto;
    margin-right: auto;
  }
}